---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import Hero from "../components/hero/Hero.astro";
---

<Layout title="Dyotak">
  <main>
    
          <Hero />
       
  </main>
</Layout>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth;
    }
</style>


