---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import Hero from "../components/hero/Hero.astro";
---

<Layout title="Dyotak">
  <main>
    
          <Hero />
       
  </main>
</Layout>

<style is:global>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth;
    }

  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
    .montserrat {
        font-family: 'Montserrat', sans-serif;
    }
</style>


