@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Unbounded:wght@500&display=swap');
@import url(style.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    
}



header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

article {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

aside {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #007BFF;
}
